.topmenu {
    display: flex;
    Justify-content: flex-end;
    margin: 10px;
    font-size: 13px;
    font-family: arial, sans-serif;
    padding-left: 30px;
    padding-right: 30px;

}

.topmenuhref {
    padding-right: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000de;
}

.topmenuhref:hover {
    text-decoration: underline;
}

#s1 {
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    border: 1px solid #4285f4;
    color: white;
    font-weight: bold;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
    cursor: default;
}

.logo {
    padding-top: 109px;
    padding-bottom: 47px;
    display: flex;
    Justify-content: center;
}

.search {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: auto;
    width: 582px;
}

.icosearch {
    margin-top: 11px;
    margin-left: 11px;
    fill: #9aa0a6;
    width: 24px;
}

.inputsearch {
    background-color: transparent;
    border: none;
    margin: 3px 0px 0px 11px;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    line-height: 34px;
    height: 34px !important;
}

.forkeyboard {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}
.mic{
       margin-top: 11px;
    margin-right: 22px; 
     width: 24px;
    cursor: pointer;
}
.forbutton{
    padding-top: 18px;
}
.forbutton button{
background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.footer {
    display: flex;
    align-items: flex-end;
}
